.default {
    --background-color        : #f0f0f0;
    --text-color              : #000;
    --inversed-text-color     : #fff;
    --content-background-color: #fff;
    --form-color              : #fff;
    --card-border-color       : #fff;
}

@media only screen and (prefers-color-scheme: dark) {
    .default {
        --background-color        : #141414;
        --text-color              : #fff;
        --inversed-text-color     : #000;
        --content-background-color: #000;
        --form-color              : #ccc;
        --card-border-color       : #444;
    }
}

.lightmode {
    --background-color        : #f0f0f0;
    --text-color              : #000;
    --inversed-text-color     : #fff;
    --content-background-color: #fff;
    --form-color              : #fff;
    --card-border-color       : #fff;
}

.darkmode {
    --background-color        : #141414;
    --text-color              : #fff;
    --inversed-text-color     : #000;
    --content-background-color: #000;
    --form-color              : #ccc;
    --card-border-color       : #444;
}

.content {
    padding-left : var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
}

.slate {
    display        : flex;
    justify-content: space-between;
    justify-items  : stretch;
    flex-wrap      : wrap;
}

.slate-left {
    width: 49.5%;
}

.slate-right {
    width: 49.5%;
}

.card {
    background-color: var(--content-background-color);
    color           : var(--text-color);
    border-width    : 1px;
    border-radius: 1rem;
    border-color    : var(--card-border-color);
    margin-bottom   : var(--bs-gutter-x, .75rem);
}

.card-content {
    display        : flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap      : wrap;
    gap            : 8px;
}

.card-title {
    font-size: 2rem;
}

.card-text {
    display: inline-block;
}

.btn-call {
    display: inline-block;
}

.open-hours {
    display   : inline-block;
    text-align: end;
    align-self: flex-end;
    justify-self: right;
}

.req {
    color  : red;
    padding: 0;
}

.req:hover {
    color: red;
}

.form-control {
    background-color: var(--form-color);
}

.gmap {
    display: block;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-top: 1rem;
    }
    
    .slate-left,
    .slate-right {
        display: block;
        width  : 100%;
    }
}